In [ ]:
import pandas as pd

df = pd.read_csv('dataset-1.csv')

In [ ]:
df

     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   821      4   6.63  13.26  13.26  32.4   48.5
2     829   804      7  14.41  28.92  28.92  64.7   97.0
3     829   822      6   5.90  11.81  11.81  28.8   43.2
4     829   826      9   2.87   5.81   5.81  14.2   21.2
..    ...   ...    ...    ...    ...    ...   ...    ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3
337   803   805      4   3.00   6.00   6.00  12.0   17.9
338   803   825      3  11.59  23.28  23.28  50.1   75.2
339   803   806      9   3.80   7.70   7.70  15.3   23.0
340   803   830      1  16.18  32.47  32.47  72.6  108.8

[341 rows x 8 columns]

In [ ]:
import pandas as pd

def generate_car_matrix(df):
    car_matrix = df.pivot(index='id_1', columns='id_2', values='car').fillna(0)

    for i in range(min(car_matrix.shape)):
        car_matrix.iloc[i, i] = 0

    return car_matrix

result = generate_car_matrix(df)
print(result)

id_2    801    802    803    804    805    806    807    808    809    821  \
id_1
801    0.00   2.80   6.00   7.70  11.70  13.40  16.90  19.60  21.00  23.52
802    2.80   0.00   3.40   5.20   9.20  10.90  14.30  17.10  18.50  20.92
803    6.00   3.40   0.00   2.00   6.00   7.70  11.10  13.90  15.30  17.72
804    7.70   5.20   2.00   0.00   4.40   6.10   9.50  12.30  13.70  16.12
805   11.70   9.20   6.00   4.40   0.00   2.00   5.40   8.20   9.60  12.02
806   13.40  10.90   7.70   6.10   2.00   0.00   3.80   6.60   8.00  10.42
807   16.90  14.30  11.10   9.50   5.40   3.80   0.00   2.90   4.30   6.82
808   19.60  17.10  13.90  12.30   8.20   6.60   2.90   0.00   1.70   4.12
809   21.00  18.50  15.30  13.70   9.60   8.00   4.30   1.70   0.00   2.92
821   23.52  20.92  17.72  16.12  12.02  10.42   6.82   4.12   2.92   0.00
822   24.67  22.07  18.87  17.27  13.17  11.57   7.97   5.27   4.07   1.80
823   26.53  23.93  20.73  19.13  15.03  13.43   9.83   7.13   5.93   3.67
824   27.92  25.32  22.12  20.52  16.42   7.80  11.22   8.52   7.32   5.06
825   29.08  26.48  23.28  21.68  17.58  15.98  12.38   9.68   8.48   6.22
826   30.87  28.27  25.07  23.47  19.37  17.77  14.17  11.47  10.27   8.01
827   32.53  29.93  26.73  25.13  21.03  19.43  15.83  13.13  11.93   9.43
829   36.32  33.72  30.52  28.92  24.82  23.22  19.62  16.92  15.72  13.26
830   38.27  35.67  32.47  30.87  26.77  25.17  21.57  18.87  17.67  15.17
831   39.24  36.64  33.44  31.84  27.74  26.14  22.54  19.84  18.64  16.15

id_2    822    823    824    825    826    827    829    830    831
id_1
801   24.67  26.53  27.92  29.08  30.87  32.53  36.32  38.27  39.24
802   22.07  23.93  25.32  26.48  28.27  29.93  33.72  35.67  36.64
803   18.87  20.73  22.12  23.28  25.07  26.73  30.52  32.47  33.44
804   17.27  19.13  20.52  21.68  23.47  25.13  28.92  30.87  31.84
805   13.17  15.03  16.42  17.58  19.37  21.03  24.82  26.77  27.74
806   11.57  13.43  14.82  15.98  17.77  19.43  23.22  25.17  26.14
807    7.97   9.83  11.22  12.38  14.17  15.83  19.62  21.57  22.54
808    5.27   7.13   8.52   9.68  11.47  13.13  16.92  18.87  19.84
809    4.07   5.93   7.32   8.48  10.27  11.93  15.72  17.67  18.64
821    1.80   3.67   5.06   6.22   8.01   9.43  13.26  15.17  16.15
822    0.00   2.21   3.60   4.76   6.55   8.00  11.81  13.74  14.68
823    2.21   0.00   1.79   2.94   4.74   6.15  10.00  11.89  12.87
824    3.60   1.79   0.00   1.71   3.50   4.92   8.77  10.66  11.64
825    4.76   2.94   1.71   0.00   2.20   3.65   7.46   9.35  10.33
826    6.55   4.74   3.50   2.20   0.00   2.05   5.81   7.71   8.69
827    8.00   6.15   4.92   3.65   2.05   0.00   4.14   6.06   7.04
829   11.81  10.00  21.40   7.46   5.81   4.14   0.00   2.38   3.36
830   13.74  11.89  10.66   0.00   7.71   6.06   2.38   0.00   1.39
831   14.68  12.87  11.64  10.33   8.69   7.04   3.36   1.39   0.00

In [ ]:
import pandas as pd

def generate_car_matrix(df):
    limited_df = df[(df['id_1'] <= 806) & (df['id_2'] <= 806)]
    car_matrix = limited_df.pivot(index='id_1', columns='id_2', values='car').fillna(0)
    for i in range(min(car_matrix.shape)):
        car_matrix.iloc[i, i] = 0

    return car_matrix

result = generate_car_matrix(df)
print(result)

id_2   801   802  803  804   805   806
id_1
801    0.0   2.8  6.0  7.7  11.7  13.4
802    2.8   0.0  3.4  5.2   9.2  10.9
803    6.0   3.4  0.0  2.0   6.0   7.7
804    7.7   5.2  2.0  0.0   4.4   6.1
805   11.7   9.2  6.0  4.4   0.0   2.0
806   13.4  10.9  7.7  6.1   2.0   0.0

In [ ]:
import pandas as pd

def get_type_count(df):
    def categorize_car(value):
        if value <= 15:
            return 'low'
        elif 15 < value <= 25:
            return 'medium'
        else:
            return 'high'
    df['car_type'] = df['car'].apply(categorize_car)

    type_counts = df['car_type'].value_counts().to_dict()

    sorted_type_counts = dict(sorted(type_counts.items()))

    return sorted_type_counts

result = get_type_count(df)
print(result)

{'high': 56, 'low': 196, 'medium': 89}

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id_1      341 non-null    int64
 1   id_2      341 non-null    int64
 2   route     341 non-null    int64
 3   moto      341 non-null    float64
 4   car       341 non-null    float64
 5   rv        341 non-null    float64
 6   bus       341 non-null    float64
 7   truck     341 non-null    float64
 8   car_type  341 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 24.1+ KB

In [ ]:
df.mean()

id_1     815.906158
id_2     815.920821
route      5.334311
moto       7.214106
car       14.411730
rv        14.412229
bus       31.932845
truck     47.841789
dtype: float64

In [ ]:
import pandas as pd

def get_bus_indexes(df):
    mean_bus = df['bus'].mean()

    bus_indexes = df[df['bus'] > 2 * mean_bus].index.tolist()
    bus_indexes.sort()
    return bus_indexes

result = get_bus_indexes(df)
print(result)

[2, 7, 12, 17, 25, 30, 54, 64, 70, 97, 144, 145, 149, 154, 160, 201, 206, 210, 215, 234, 235, 245, 250, 309, 314, 319, 322, 323, 334, 340]

In [ ]:
def filter_routes():
    route_avg_truck = df.groupby('route')['truck'].mean()
    filtered_routes = route_avg_truck[route_avg_truck > 7].index.tolist()
    filtered_routes.sort()

    return filtered_routes

result = filter_routes()
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
df = pd.read_csv('dataset-1.csv')
def multiply_matrix(df):
    copy_df = df.copy()

    for index, row in copy_df.iterrows():
        for column in copy_df.columns:
            value = copy_df.at[index, column]
            if value > 20:
                copy_df.at[index, column] = round(value * 0.75, 1)
            else:
                copy_df.at[index, column] = round(value * 1.25, 1)

    return copy_df
modified_result = multiply_matrix(result)
print(modified_result)

id_2   801   802  803  804   805   806
id_1
801    0.0   3.5  7.5  9.6  14.6  16.8
802    3.5   0.0  4.2  6.5  11.5  13.6
803    7.5   4.2  0.0  2.5   7.5   9.6
804    9.6   6.5  2.5  0.0   5.5   7.6
805   14.6  11.5  7.5  5.5   0.0   2.5
806   16.8  13.6  9.6  7.6   2.5   0.0

In [9]:
dff = pd.read_csv('dataset-3.csv')

In [ ]:
dff

In [5]:
import pandas as pd
import numpy as np

def calculate_distance_matrix():
    df = pd.read_csv('dataset-3.csv')

    limited_df = df[(df['id_start'] <= 1001412) & (df['id_end'] <= 1001412)]

    distance_matrix = limited_df.pivot(index='id_start', columns='id_end', values='distance').fillna(0)

    distance_matrix = distance_matrix.add(distance_matrix.T, fill_value=0)

    np.fill_diagonal(distance_matrix.values, 0)

    return distance_matrix

result_distance_matrix = calculate_distance_matrix()
print(result_distance_matrix)

         1001400  1001402  1001404  1001406  1001408  1001410  1001412
1001400      0.0      9.7      0.0      0.0      0.0      0.0      0.0
1001402      9.7      0.0     20.2      0.0      0.0      0.0      0.0
1001404      0.0     20.2      0.0     16.0      0.0      0.0      0.0
1001406      0.0      0.0     16.0      0.0     21.7      0.0      0.0
1001408      0.0      0.0      0.0     21.7      0.0     11.1      0.0
1001410      0.0      0.0      0.0      0.0     11.1      0.0     15.6
1001412      0.0      0.0      0.0      0.0      0.0     15.6      0.0

In [ ]:
import pandas as pd

def unroll_distance_matrix(distance_df):
    unrolled_distances = []

    for i in range(len(distance_df)):
        for j in range(len(distance_df.columns)):
            if i != j:
                unrolled_distances.append({
                    'id_start': distance_df.index[i],
                    'id_end': distance_df.columns[j],
                    'distance': distance_df.iloc[i, j]
                })

    unrolled_df = pd.DataFrame(unrolled_distances)
    return unrolled_df

result_unrolled_distance = unroll_distance_matrix(result_distance_matrix)
print(result_unrolled_distance)

In [17]:
def calculate_toll_rate(distance_df):
    distance_df['moto'] = distance_df['distance'] * 0.8
    distance_df['car'] = distance_df['distance'] * 1.2
    distance_df['rv'] = distance_df['distance'] * 1.5
    distance_df['bus'] = distance_df['distance'] * 2.2
    distance_df['truck'] = distance_df['distance'] * 3.6

    return distance_df
result_with_toll_rates = calculate_toll_rate(result_unrolled_distance)
print(result_with_toll_rates[:10])

   id_start   id_end  distance   moto    car     rv    bus  truck
0   1001400  1001402       9.7   7.76  11.64  14.55  21.34  34.92
1   1001400  1001404       0.0   0.00   0.00   0.00   0.00   0.00
2   1001400  1001406       0.0   0.00   0.00   0.00   0.00   0.00
3   1001400  1001408       0.0   0.00   0.00   0.00   0.00   0.00
4   1001400  1001410       0.0   0.00   0.00   0.00   0.00   0.00
5   1001400  1001412       0.0   0.00   0.00   0.00   0.00   0.00
6   1001402  1001400       9.7   7.76  11.64  14.55  21.34  34.92
7   1001402  1001404      20.2  16.16  24.24  30.30  44.44  72.72
8   1001402  1001406       0.0   0.00   0.00   0.00   0.00   0.00
9   1001402  1001408       0.0   0.00   0.00   0.00   0.00   0.00